[submodule "plugin/yasnippet"]
	path = plugin/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "plugin/android"]
	path = plugin/android
	url = https://github.com/geneleung/android.git
